{:paths ["src" "resources"]
 :deps  {org.clojure/clojure              {:mvn/version "1.10.1"}
         metosin/malli                    {:mvn/version "0.2.1"}
         kixi/stats                       {:mvn/version "0.5.4"}
         io.replikativ/datahike           {:mvn/version "0.3.3"}
         buddy/buddy-hashers              {:mvn/version "1.7.0"}
         integrant/integrant              {:mvn/version "0.8.0"}
         http-kit/http-kit                {:mvn/version "2.5.0"}
         ring/ring                        {:mvn/version "1.8.2"}
         ring/ring-defaults               {:mvn/version "0.3.2"}
         com.fulcrologic/fulcro           {:mvn/version "3.4.12"}
         hiccup/hiccup                    {:mvn/version "1.0.5"}
         tick/tick                        {:mvn/version "0.4.29-alpha"}
         provisdom/spectomic              {:mvn/version "0.7.11"}
         com.wsscode/pathom-viz-connector {:mvn/version "RELEASE"}
         com.wsscode/pathom3
         {:git/url "https://github.com/wilkerlucio/pathom3"
          :sha     "2c52480f3d6af454b29f50812cdcc160f31dcab8"}}
 :aliases
 {
  :cljs    {:extra-paths ["dev"]
            :extra-deps  {org.clojure/clojurescript {:mvn/version "1.10.758"}
                          thheller/shadow-cljs      {:mvn/version "2.11.12"}
                          clj-commons/pushy         {:mvn/version "0.3.10"}}
            :ns-default  com.reilysiegel.pod.build.cljs
            :exec-args   {:build-id :frontend}}
  :run-m   {:main-opts ["-m" "com.reilysiegel.pod"]}
  :run-x   {:ns-default com.reilysiegel.pod
            :exec-fn     greet
            :exec-args  {:name "Clojure"}}
  :test    {:extra-paths ["test"]
            :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}
  :uberjar {:replace-deps {seancorfield/depstar {:mvn/version "2.0.165"}}
            :exec-fn       hf.depstar/uberjar
            :exec-args    {:aot        true
                           :jar        "pod.jar"
                           :main-class "com.reilysiegel.pod"}}}}
